parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: ../../../src/Controller/MockController.php
