parameters:
    app.debug_secret: '%env(default::APP_DEBUG_SECRET)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    Monolog\Processor\UidProcessor:
