<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mock response</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>
    <body>
        <h1>Mock response</h1>
        <table>
            <thead>
            <tr>
                <th>Status code</th>
                <th>Text</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            {% for status_code, text in status_codes  %}
                <tr>
                    <td>{{ status_code }}</td>
                    <td>{{ text }}</td>
                    <td>
                        <a href="{{ url('mock_status_code_always', {'code': status_code}) }}">Always</a>
                        /
                        <a href="{{ url('mock_status_code_randomly', {'code': status_code}) }}">Randomly</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
