{% extends 'base.html.twig' %}

{% block body %}
    <h1>Large image injected</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/%22_The_Calutron_Girls%22_Y-12_Oak_Ridge_1944_Large_Format_%2832093954911%29_%282%29.jpg" alt="Large Image">
{% endblock %}
